<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tsxy.bsjz.platform.dao.mapper.ApparatusMapper">
  <resultMap id="BaseResultMap" type="tsxy.bsjz.platform.model.Apparatus">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="appPrice" jdbcType="DECIMAL" property="appPrice" />
    <result column="appPosition" jdbcType="VARCHAR" property="appPosition" />
    <result column="classifyId" jdbcType="INTEGER" property="classifyId" />
    <result column="appState" jdbcType="INTEGER" property="appState" />
    <association property="apparatusClassify" column="classifyId" select="tsxy.bsjz.platform.dao.mapper.ApparatusClassifyMapper.selectByPrimaryKey"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, appPrice, appPosition, classifyId, appState
  </sql>
  <select id="selectByExample" parameterType="tsxy.bsjz.platform.model.ApparatusExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_apparatus
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_apparatus
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_apparatus
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="tsxy.bsjz.platform.model.ApparatusExample">
    delete from t_apparatus
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="tsxy.bsjz.platform.model.Apparatus">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_apparatus (name, appPrice, appPosition, 
      classifyId, appState)
    values (#{name,jdbcType=VARCHAR}, #{appPrice,jdbcType=DECIMAL}, #{appPosition,jdbcType=VARCHAR}, 
      #{classifyId,jdbcType=INTEGER}, #{appState,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="tsxy.bsjz.platform.model.Apparatus">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_apparatus
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="appPrice != null">
        appPrice,
      </if>
      <if test="appPosition != null">
        appPosition,
      </if>
      <if test="classifyId != null">
        classifyId,
      </if>
      <if test="appState != null">
        appState,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="appPrice != null">
        #{appPrice,jdbcType=DECIMAL},
      </if>
      <if test="appPosition != null">
        #{appPosition,jdbcType=VARCHAR},
      </if>
      <if test="classifyId != null">
        #{classifyId,jdbcType=INTEGER},
      </if>
      <if test="appState != null">
        #{appState,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="tsxy.bsjz.platform.model.ApparatusExample" resultType="java.lang.Long">
    select count(*) from t_apparatus
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_apparatus
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.appPrice != null">
        appPrice = #{record.appPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.appPosition != null">
        appPosition = #{record.appPosition,jdbcType=VARCHAR},
      </if>
      <if test="record.classifyId != null">
        classifyId = #{record.classifyId,jdbcType=INTEGER},
      </if>
      <if test="record.appState != null">
        appState = #{record.appState,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_apparatus
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      appPrice = #{record.appPrice,jdbcType=DECIMAL},
      appPosition = #{record.appPosition,jdbcType=VARCHAR},
      classifyId = #{record.classifyId,jdbcType=INTEGER},
      appState = #{record.appState,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="tsxy.bsjz.platform.model.Apparatus">
    update t_apparatus
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="appPrice != null">
        appPrice = #{appPrice,jdbcType=DECIMAL},
      </if>
      <if test="appPosition != null">
        appPosition = #{appPosition,jdbcType=VARCHAR},
      </if>
      <if test="classifyId != null">
        classifyId = #{classifyId,jdbcType=INTEGER},
      </if>
      <if test="appState != null">
        appState = #{appState,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="tsxy.bsjz.platform.model.Apparatus">
    update t_apparatus
    set name = #{name,jdbcType=VARCHAR},
      appPrice = #{appPrice,jdbcType=DECIMAL},
      appPosition = #{appPosition,jdbcType=VARCHAR},
      classifyId = #{classifyId,jdbcType=INTEGER},
      appState = #{appState,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateClassifyNull" parameterType="java.util.List">
    UPDATE t_apparatus SET classifyId = NULL WHERE classifyId IN
    <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </update>
</mapper>